#-------------------------------------------------------------------------------
# Copyright 2013 Instituto de Investigaciones Dr. José María Luis Mora
# See LICENSE.txt for redistribution conditions.
# 
# D.R. 2013 Instituto de Investigaciones Dr. José María Luis Mora
# Véase LICENSE.txt para los términos bajo los cuales se permite
# la redistribución.
#-------------------------------------------------------------------------------
@external blockNote, note;

.blockNote, .note {
	font-size: 0.8em;
	color: #444444;
}

.blockNote {
	display: inline-block;
}

.em {
	font-style: italic;
}

.hi {
	background-color: #fff0a0;
}
